[Unit]
Description= iperf2 Service
After=network.target

[Service]
Type=simple
User=iperf
ExecStart=/usr/bin/iperf -s -D --pidfile
Restart=on-abort

[Install]
WantedBy=multi-user.target
