---
 - name: install vim
   package:
      name: vim
      state: latest
 - name: install iperf
   package: 
      name: iperf
      state: latest
 - name: test connetion to server
   command: iperf -c 192.168.1.9 -p 5001
